.project-card-title-custom {
    font-size: 25px !important; /* Ensures this style has higher priority */}



.project-card-content {
    min-width: 500px;
    max-width: 500px;
    margin-right: 80px;
    margin-bottom: 80px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px; /* rounded corners */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will push the content to the top and bottom */
    height: 100%; /* Ensure the card stretches to full height */

}

.project-custom-card-img {
    height: 200px; 
    border: 1px solid black;
    object-fit: cover; /* This will cover the area without distorting the image */
}