.project-image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Take full width of the container */
    margin-bottom: 40px;
  }

  .project-image-container img {
    max-width: 100%; /* Make image width responsive */
    height: auto; /* Maintain aspect ratio */
    border: 2px solid gray;
  }