.playlist-item {
    display: flex;
    flex-direction: row; /* Align items in a row */
    margin-bottom: 20px;
    align-items: center; /* Center vertically */
  }
  
  .video {
    cursor: pointer;
    margin-right: 20px;
    align-self: flex-start; /* Align the video to the start of the flexbox */
    
  }

  /* adjust video size for mobile and desktop */
  @media only screen and (max-width: 768px) {
    .video {
      width: 150px;
      height: 150px;
    }
  }
  
  @media only screen and (min-width: 769px) {
    .video {
      width: 300px;
      height: 300px;
    }
  }
  
  .video-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
