/* Credit fot th9s css goes to: https://css-tricks.com/responsive-data-tables/ */
/* This allows the larger table to be mobile responsive */
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table elements to behave like blocks */
    .ga-score-table,
    .ga-score-table tbody,
    .ga-score-table th,
    .ga-score-table thead,
    .ga-score-table td,
    .ga-score-table tr {
        display: block;
    }

    /* Position the table header row off-screen */
    .ga-score-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }


    .ga-score-table th {
        margin-right: 50px;
    }

    /* Add border around each table row */
    .ga-score-table tr {
        border: 1px solid #ccc;
        margin-bottom: 10px; 
    }

    /* Style table cells */
    .ga-score-table td {
        border: none;
        border-bottom: 1px solid #eee;
        padding-right: 100px; 
   
        
    }

    /* Pseudo-element for labeling cells */
    .ga-score-table td:before {
        top: 6px;
        left: 100px; /* Adjust left position to move it closer to the cell content */
        width: 90px; /* Adjust width as needed */
        padding-right: 10px;
        white-space: nowrap;
    }

    /* Label each column */
    .ga-score-table td:nth-of-type(1):before {
        content: "Week";
    }
    .ga-score-table td:nth-of-type(2):before {
        content: "Week Of";
    }
    .ga-score-table td:nth-of-type(3):before {
        content: "Topic";
    }
    .ga-score-table td:nth-of-type(4):before {
        content: "GA Score";
    }
    .ga-score-table td:nth-of-type(5):before {
        content: "GA Comments";
    }
    .ga-score-table td:nth-of-type(6):before {
        content: "Mentor Score";
    }
    .ga-score-table td:nth-of-type(7):before {
        content: "Mentor Comments";
    }
}