*,
*::before,
*::after {
  box-sizing: border-box;
}

/*The body is 100vh to accomodate mobile screen so that all the sign in appears without scrolling */

body {
  height: 100vh;
  
}


/* For my project and blog cards*/

.card-container {
  margin-left: 20px;
  margin-top: 50px;
  display: flex;
 
  align-items: center; /* This centers the children horizontally */
  justify-content: center; /* This centers the children vertically if needed */
  width: 100%;
  padding-left: 20px; 
}

/* For blurb title and blurb header on pages */

.blurb-title {
  margin-top: 20px;
  text-align: center;
}
.blurb-header {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px; /* Adjust spacing between the text and the content */
  padding-left: 20px;
}
/* Small Screens (Smartphones) */
@media only screen and (max-width: 600px) {
 
}





/* Medium Screens (Tablets) and Large Screens (Desktops and Laptops) */ 
@media only screen and (min-width: 601px)  {


   
}

 

  




/* Large Screens (Desktops and Laptops) */
/* @media only screen and (min-width: 769px) and (max-width: 1024px) { */
  /* CSS rules for large screens */
  

